<section id="search" class="search-wrap">
    <h1>Find An Event</h1>
    <form action="/events/search" class="search-form">
      <i class="fas fa-search"></i>
      <input type="search" name="term" placeholder=" Comedy, concerts, cooking, etc...">
      <input type="submit" value="Search">
    </form>
</section>


  <section id="events" class="container">
    <h1>All Events</h1>

    {{#each events}}
        <div class="event">
            <h3>{{title}}</h3>
            <p>{{description}}</p>
            <p>{{start_time}}</p>
            <div class="address">
                <p>{{venue_name}}</p>
                <p>{{venue_address}}</p>
            </div>
        </div>
    {{else}}
        <p>No events available</p>
    {{/each}}

  </section>