{{!-- Not displaying the database --}}
{{!-- Should also be moved to List of Users nav tab --}}

  <section id="users" class="container">
    <h1>All Users</h1>

    {{#each users}}
        <div class="user">
        <h3>{{name}}</h3>
        <p>{{age}}</p>
        <ul>
            {{#each this}}
                <li>{{description}}</li>
            {{/each}}
            <li><a href="mailto:{{contact_email}}" class="btn btn-reverse">Email</a></li>
        </ul>
        </div>
    {{else}}
        <p>No Users Available</p>
    {{/each}}

  </section>